body {
    font-family: 'Poppins';
}

.bg-left {
    background-image: url('./assets/dapo\ work.png');
    /* background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); */
    /* background: -webkit-linear-gradient(rgba(0, 0, 2, 0.815), rgba(44, 42, 43, 0.8)), url("./assets/joshua-eckstein-nkUioaswtvM-unsplash\ \(1\).png"); */
    /* height: 100vh; */
    color: #FFFFFF;
    background-size: cover;
    
}

.welcome-parent {
    position: relative;
    top: 29%;
    
    
}

.welcome-login {
    font: normal  100 28px/42px Poppins;
    letter-spacing: 2.8px;
    /* margin-left:  100px; */
}

.parish-text  {
    font: normal normal 40px Poppins;
    letter-spacing: 2.4px;
    /* margin-left: 100px;    */
}

.line-login {
    /* margin-left: 100px; */
    width: 392px;
    padding-bottom: 20px;
    border-bottom: 4px solid #DE000E;
}

.easy-parish {
    /* font-size: 27px; */
    font: normal normal 27px/33px Poppins;
    letter-spacing: 1.35px
}

.italic-parish {
    font-style: italic;
    font-size:27px;

    /* font: italic normal medium 27px/33px Poppins; */
}

.dot {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-left: 8px;
    background: #DE000E 0% 0% no-repeat padding-box;
}

.logo-easy-parish {
    position: relative;
    top: 79px;
    /* margin-left: 100px */
}

.copyright-parish {
    position: relative;
    top: 45%;
    /* margin-left: 100px; */
    font: normal normal medium 14px/21px Poppins;
}

.bg-right {
    background-color: #F4F4F4;
}

.login-text {
    font: normal normal 600 38px/57px Poppins;
    letter-spacing: 1.9px;
    color: #DE000E;
    margin-bottom: 80px;
    /* padding: 10px;
    border-bottom: 2px solid #B31154; */
}

.line-login-text {
    border-bottom: 2px solid #B31154;
    width: 134px;
}

.label {
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0.8px;
    color: #5B5158;
    opacity: 0.89;
    margin-bottom: 20px;
}

.input-label {
    background: #FFFFFF47 0% 0% no-repeat padding-box;
    border: 1px solid #7070707A;
    border-radius: 20px;
    width: 454px;
    height: 50px;
    margin-bottom: 30px
}

/* .group-circle {
    z-index: -2;
    background: -webkit-linear-gradient(rgba(0, 0, 2, 0.815), rgba(44, 42, 43, 0.8)), url("./assets/joshua-eckstein-nkUioaswtvM-unsplash\ \(1\).png");
} */

.invalid-text {
    font: normal normal 600  12px Poppins;
    letter-spacing: 0.6px;
    color: #B31154;
}

.login-btn {
    background: #CD0A21 0% 0% no-repeat padding-box;
    box-shadow: 5px 15px 45px #00000042;
    border-radius: 20px;
    opacity: 1;  
    font: normal normal medium 18px/28px Poppins;
    letter-spacing: 0.9px;
    color: #F5F5F5; 
    width: 208px;
    /* height: 52px; */
    padding: 10px;
}

.copyright-parish2 {
    display: none;
}
.goal {
    border: 2px solid red;
}


@media (max-width: 993px) {
    .bg-left {
        width: 100%;
        height: 60vh;
    }

    .copyright-parish {
        display: none;
    }

    .copyright-parish2 {
        display: block;
    }
}
